* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: calc((100vw - 1219px) / 2);
}

.content-wrapper {
  width: 1219px;
}

.header {
  position: fixed;
  color: white;
  height: 84px;
  width: 1219px;
  background-color: #007765;
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
}

.logo {
  width: 184px;
  height: 45px;
  padding-top: 20px;
}

.nav {
  padding-top: 28px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  width: 450px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 403px;
  background-image: url(https://github.com/perfektoo/stepik_project/blob/main/image.png?raw=true);
  color: white;
  font-size: 72px;
  font-weight: 500;
}

.the-problem {
  font-size: 32px;
  height: 719px;
  background-color: #eeeeee;
  font-weight: 400;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.the-problem > h2 {
  text-align: center;
}

.hero {
  display: flex;
  height: 483px;
  color: white;
  background-image: url(/img/image\ 2.png);
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}

.par-div {
  width: 893px;
  height: 228px;
  padding-top: calc((483 - 228) / 2);
}

.ppc {
  height: 604px;
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 50px;
}

.ppc > h2 {
  text-align: center;
  font-size: 64px;
  color: #007765;
  font-weight: 500;
}

.logo-para {
  font-size: 32px;
  font-weight: 400;
}

.logo-para > img {
  float: left;
  margin-right: 30px;
}

.the-team > h2 {
  font-size: 64px;
  font-weight: 500;
  color: #007765;
  text-align: center;
}
.the-team {
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 50px;
  height: 845;
  background-color: #eeeeee;
}

.first-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.second-row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  background-color: #333333;
  color: white;
  font-size: 18px;
  line-height: 21.09px;
}

.footer > p {
  text-align: center;
  height: 64px;
  width: 540px;
}
